<div>
    <div class="container-fluid align-items-center text-center section-primary">
        <h1 class="text-black display-3">DocFind</h1>
        <p class="text-black h4">Finding the doctor of your choice, made easy!</p>
    </div>
    <div class="container-fluid text-center section-secondary">
        <p class="text-black h4 my-4">What're you waiting for?</p>
        <button routerLink="/user/signup" type="button" class="btn">Sign Up</button>
        <p class="text-black h5 d-inline mx-4">or</p>
        <button routerLink="/user/login" type="button" class="btn">Login</button>
    </div>
    <div class="container text-center mt-5 p-4">
        <p class="text-black h2">How does DocFind work?</p>
        <svg class="mt-2" width="40px" height="40px" viewBox="0 0 451.847 451.847">
            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>       
        </svg>
    </div>
    <svg viewBox="0 0 1440 320">
        <path fill="#e85a4f" fill-opacity="1" d="M0,32L48,53.3C96,75,192,117,288,144C384,171,480,181,576,165.3C672,149,768,107,864,90.7C960,75,1056,85,1152,106.7C1248,128,1344,160,1392,176L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
    <div class="container-fluid section-tertiary">
        <div class="row my-2">
            <div class="col-sm mr-5">
                <h2 class="text-center mb-4">😷 Patient</h2>
                <ul class="list-group">
                    <li class="list-item mb-3">🖤 Sign Up or Login</li>
                    <li class="list-item mb-3">🖤 Choose doctor of your choice</li>
                    <li class="list-item mb-3">🖤 Contact via Phone, SMS or Email</li>
                    <li class="list-item mb-3">🖤 Set an appointment</li>
                    <li class="list-item mb-3">🖤 Go to the doctor, maybe, I don't know 🤷‍♂️</li>
                </ul>
            </div>
            <div class="col-sm ml-5">
                <h2 class="text-center mb-4">👨‍⚕️ Doctor</h2>
                <ul class="list-group">
                    <li class="list-item mb-3">🖤 Sign Up or Login</li>
                    <li class="list-item mb-3">🖤 Setup your profile</li>
                    <li class="list-item mb-3">🖤 Receive patients appointment</li>
                    <li class="list-item mb-3">🖤 Wait for the patients arrival</li>
                    <li class="list-item mb-3">🖤 Do what you do best 🤘</li>
                </ul>
            </div>
        </div>
    </div>
    <svg viewBox="0 0 1440 320">
        <path fill="#e85a4f" fill-opacity="1" d="M0,64L48,90.7C96,117,192,171,288,176C384,181,480,139,576,112C672,85,768,75,864,80C960,85,1056,107,1152,122.7C1248,139,1344,149,1392,154.7L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
</div>
