.front-heading
    font-size: 50px

.front-paragraph
    display: inline-block
    background-color: #fc0058
    padding: 15px
    border-radius: 10px

.explanation
    background-color: $grey
    border-radius: 10px
