$bg-color-primary: #eae7dc
$bg-color-secondary: #d8c3a5
$bg-color-tertiary: #8e8d8a
$fg-color-primary: rgb(233, 128, 116)
$fg-color-secondary: #e85a4f

$dark-pink: #fc0071
$medium-pink: #ff2e70
$grey: #e5e5e5
$btn-color: #239beb

html
    body
        font-family: 'Baloo Paaji 2', cursive
        background-color: $bg-color-primary
        overflow-x: hidden
        position: relative
        min-height: 100%

.text-black
    color: #000000

.hover-fade:hover
    transition: 0.3s ease-in-out
    opacity: 0.3

.active
    opacity: 0.3

.scrollable-menu
    height: auto
    max-height: 200px
    overflow-x: hidden

.btn
    background-color: $bg-color-primary
    color: #000000
    font-weight: 600
    letter-spacing: 1.5px
    border: 3px solid #000000
    padding: 10px 40px
    font-size: 20px
    transition: 0.3s ease-in-out
    &:hover
        background-color: $bg-color-secondary

.btn-dropdown
    border: none
    transition: 0.2s ease-in
    background-color: $dark-pink
    color: white
    border-radius: 4px
    padding-left: 10px
    padding-right: 10px
    &:hover
        color: white
        opacity: 0.6

.dial-code-list-item
    cursor: pointer

.box
    background-color: $grey
    border-radius: 10px
    padding: 70px 150px 50px 150px
    
.box-spacing
    background-color: $grey
    border-radius: 10px
    padding: 70px 150px 50px 150px
    margin-top: 60px
    margin-bottom: 110px

.registration-options
    background-color: $grey
    border-radius: 10px
    padding: 70px
    margin-top: 70px
    margin-bottom: 140px

.footer
    background-color: $bg-color-secondary
    padding: 30px
