<div>
    <nav class="navbar navbar-expand p-3">
        <a class="navbar-brand pl-3">
            <img src="../assets/img/logo.png" width="50" height="50" alt=""/>
        </a>
        <a class="navbar-brand text-black pointer">
            <span class="h3" routerLink="/">DocFind</span>
        </a>
        <div class="navbar-nav ml-auto">
            <a [ngClass]="setActive('^\/user$|\/user\/dashboard|\/user\/signup|\/user\/login')" class="nav-item nav-link text-black h5 my-auto mr-3 link pointer" routerLink="/user/dashboard">My Account</a>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <footer class="container-fluid footer text-black text-center">
        <p class="h5 mt-3">Made with &hearts; by Rais, Jazab and Hassaan | All Rights Reserved &copy; 2020</p>
    </footer>
</div>
