<div>
    <nav class="navbar navbar-expand p-3">
        <a class="navbar-brand pl-3" routerLink="/">
            <img src="../assets/img/logo.png" width="50" height="50" alt=""/>
        </a>
        <a class="navbar-brand text-white" routerLink="/">
            <span class="h3">DocFind</span>
        </a>
        <div class="navbar-nav ml-auto">
            <a (click)="setCurrentNavLink('home')" [ngClass]="(getCurrentNavLink() === 'home') ? 'active' : ''" class="nav-item nav-link text-white h5 my-auto mr-3 hover-fade" routerLink="">Home</a>
            <a (click)="setCurrentNavLink('patient')" [ngClass]="(getCurrentNavLink() === 'patient') ? 'active' : ''" class="nav-item nav-link text-white h5 my-auto mr-3 hover-fade" routerLink="/patient">Patient</a>
            <a (click)="setCurrentNavLink('doctor')" [ngClass]="(getCurrentNavLink() === 'doctor') ? 'active' : ''" class="nav-item nav-link text-white h5 my-auto mr-3 hover-fade" routerLink="/doctor">Doctor</a>
        </div>
    </nav>
    
    <router-outlet></router-outlet>
    
    <footer class="container-fluid footer text-white text-center">
        <p class="h6">Made with &hearts; by Hassaan | All Rights Reserved &copy; 2020</p>
    </footer>
</div>
