<div class="container text-center patient-login-box">
    <div class="row">
        <div class="col text-center">
            <h2>Login to your Patient account</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="form-group col mx-5">
            <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="row">
        <div class="form-group col mx-5">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="row">
        <div class="form-group col mt-3">
            <button type="button" class="btn">Login</button>
        </div>
    </div>
</div>
