<div>
    <div class="container-fluid d-flex align-items-center position-relative">
        <div class="block-top"></div>
        <div class="block-top-second"></div>
        <div class="block-left">
            <div class="block-left-img"></div>
        </div>
        <div class="block-right">
            <div class="block-right-img"></div>
        </div>
        <div class="container">
            <div class="container-fluid">
                <img class="mx-auto d-block my-3" src="assets/img/logo.png" width="150">
            </div>
            <div class="container-fluid text-center">
                <h1 class="text-white front-heading">DocFind</h1>
                <p class="text-white h4 front-paragraph">Making appointments with the doctor, made easy!</p>
            </div>
        </div>
    </div>
    
    <div class="container text-center mt-4">
        <p class="text-white h5 my-4">Are you a...</p>
        <div>
            <button (click)="navLinkChange('patient')" routerLink="/patient" type="button" class="btn">Patient</button>
            <p class="text-white h5 d-inline mx-4">or a</p>
            <button (click)="navLinkChange('doctor')" routerLink="/doctor" type="button" class="btn">Doctor</button>
        </div>
    </div>
    
    <div class="container text-center mt-5 p-2">
        <p class="text-white h3">How does DocFind work?</p>
    </div>
    
    <div class="container explanation p-5 mt-4 mb-5">
        <p class="text-black text-center h3">Who are you? <span class="h6">Keep calm, this isn't the FBI ;)</span></p>
        <div class="row my-2">
            <div class="col-sm">
                <h3 class="text-center">😷 Patient</h3>
                <ul class="list-group">
                    <li class="list-group-item">Sign Up or Login</li>
                    <li class="list-group-item">Choose doctor of your choice</li>
                    <li class="list-group-item">Confirm appointment</li>
                    <li class="list-group-item">Receive confirmation through SMS</li>
                    <li class="list-group-item">Go to the doctor, maybe, I don't know</li>
                </ul>
            </div>
            <div class="col-sm">
                <h3 class="text-center">👨‍⚕️ Doctor</h3>
                <ul class="list-group">
                    <li class="list-group-item">Sign Up or Login</li>
                    <li class="list-group-item">Wait for patients appointment</li>
                    <li class="list-group-item">Receive patients appointment</li>
                    <li class="list-group-item">Wait for the patients arrival</li>
                    <li class="list-group-item">Do what you do best 🤘</li>
                </ul>
            </div>
        </div>
    </div>    
</div>
